# Virtual environment
.venv/
venv/
env/

# PyCharm settings
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db
