{% extends 'layouts/app.html' %}

{% block title %}
    Tasks
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2 class="text-center mb-4">Tasks list</h2>

        <table class="table table-striped text-center">
            <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Status</th>
                <th>Deadline</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>
            {% if tasks %}
                {% for task in tasks %}
                    <tr>
                        <td>{{ task.id }}</td>
                        <td>{{ task.title }}</td>
                        <td>
                        <span class="badge text-bg-{{ get_task_status_color(TaskStatus, task.status) }}">
                            {{ get_task_status(TaskStatus, task.status) }}
                        </span>
                        </td>
                        <td>{{ task.deadline }}</td>
                        <td>
                            <a href="{{ url_for("task.edit_view", id=encode(task.id)) }}"
                               class="btn btn-primary btn-sm">Edit</a>

                            <a href="{{ url_for("task.delete_view", id=encode(task.id)) }}"
                               class="btn btn-danger btn-sm">Delete</a>

                            <a href="{{ url_for("file.index_view", id=encode(task.id)) }}"
                               class="btn btn-secondary btn-sm">Files</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5" class="text-danger">No tasks found</td>
                </tr>
            {% endif %}
            </tbody>
        </table>

        <div>
            <ul class="pagination justify-content-center">
                {% if page > 1 %}
                    <li class="page-item">
                        <a class="page-link"
                           href="{{ url_for('task.index_view', page=1) }}">&laquo;</a>
                    </li>

                    <li class="page-item">
                        <a class="page-link"
                           href="{{ url_for('task.index_view', page=page-1) }}">&lsaquo;</a>
                    </li>
                {% endif %}

                {% for p in range(1, total_pages + 1) %}
                    {% if p >= page - 1 and p <= page + 1 %}
                        <li class="page-item {% if p == page %}active{% endif %}">
                            <a class="page-link"
                               href="{{ url_for('task.index_view', page=p) }}">{{ p }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if page < total_pages %}
                    <li class="page-item">
                        <a class="page-link"
                           href="{{ url_for("task.index_view", page=page+1) }}">&rsaquo;</a>
                    </li>

                    <li class="page-item">
                        <a class="page-link"
                           href="{{ url_for("task.index_view", page=total_pages) }}">&raquo;</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}