@font-face {
    src: url("../../fonts/RobotoSlab-Medium.ttf") format("truetype");
    font-family: RobotoSlab;
    font-weight: 500;
    font-display: swap;
}

* {
    font-family: RobotoSlab, serif !important;
}