{% extends 'layouts/app.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="container text-center mt-5">
        <h1>Welcome to the {{ config["app_name"] }} System</h1>

        <p class="lead fw-normal">Manage your tasks effectively with our website.</p>

        <div class="d-flex justify-content-center mt-4 gap-3">
            <a href="#" class="btn btn-primary">Login</a>

            <a href="#" class="btn btn-secondary">Register</a>
        </div>
    </div>
{% endblock %}
